name: tp0
services:
  server:
    container_name: server
    image: server:latest
    entrypoint: python3 /main.py
    environment:
      - PYTHONUNBUFFERED=1
    networks:
      - testing_net
    volumes:
      - ./server/config.ini:/config.ini


{% for i in range(n_clients) %}
  client{{ i + 1 }}:
    container_name: client{{ i + 1 }}
    image: client:latest
    entrypoint: /client
    environment:
      - CLI_ID={{ i + 1 }}
      - CLI_NOMBRE=nombre{{ i + 1 }}
      - CLI_APELLIDO=apellido{{ i + 1 }}
      - CLI_DOCUMENTO={{ i + 39000000 }}
      - CLI_NACIMIENTO=1990-01-01
      - CLI_NUMERO={{ 5000 + i }}
    networks:
      - testing_net
    depends_on:
      - server
    volumes:
      - ./client/config.yaml:/config.yaml
{% endfor %}

networks:
  testing_net:
    ipam:
      driver: default
      config:
        - subnet: 172.25.125.0/24
